body {

    background-color: #f2f2f2;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

h1 {
    text-align: center;
}

.employee-list {
    border-collapse: collapse;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 70%;
}

.employee-list caption {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: #1e2227d2;
    color: #120616;
}

.employee-list thead {
    background-color: #f8f8f8;
    font-weight: bold;
}

.employee-list th,
.employee-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.employee-list tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.employee-list tbody tr:hover {
    background-color: #ddd;
}

.employee-list th:first-child,
.employee-list td:first-child {
    text-align: left;
}

th {
    background-color: rgba(2, 6, 14, 0.832);
    color: white;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.left-align {
    text-align: left;
    margin-left: 10px;
}

.employee {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.dropdown {
    position: fixed;
    top: 20px;
    right: 20px;
}

select {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
}

select:hover {
    background-color: #ddd;

}

option {
    padding: 8px;
    font-size: 16px;
}






.button {

    display: inline-block;

    padding: 6px 8px;

    margin-bottom: 0;

    font-size: 14px;

    font-weight: 100;

    line-height: 1.4;

    text-align: center;

    white-space: nowrap;

    vertical-align: middle;

    cursor: pointer;

    border: 1px solid #ccc;

    border-radius: 4px;

    text-decoration: none;

    background-color: #f8f8f8;

    color: #333;

}


.button.edit {

    background-color: #428bca;

    color: #fff;

    border-color: #357ebd;

}


.button.delete {

    background-color: #d9534f;

    color: #fff;

    border-color: #d43f3a;

}






.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination a:hover:not(active) {
    background-color: #ddd;
}

.pagination .active {
    background-color: #4caf50;
    color: white;
}

.pagination a:first-child {
    margin-right: 10px;
}

.pagination a:last-child {
    margin-left: 10px;
}