body {

    background-color: #f2f2f2;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

h1 {
    text-align: center;
}


.holiday-list {
    border-collapse: collapse;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 70%;
}

.holiday-list caption {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: #1e2227d2;
    color: #120616;
}

.holiday-list thead {
    background-color: #f8f8f8;
    font-weight: bold;
}

.holiday-list th,
.holiday-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.holiday-list tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.holiday-list tbody tr:hover {
    background-color: #ddd;
}

.holiday-list th:first-child,
.holiday-list td:first-child {
    text-align: left;
}

th {
    background-color: rgba(2, 6, 14, 0.832);
    color: white;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.right-align {
    text-align: right;
}



.left-align {
    text-align: left;
    margin-left: 5px;
}

.employee {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    top: 200px;
    right: 20px;

}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination a:hover:not(active) {
    background-color: #ddd;
}

.pagination .active {
    background-color: #4caf50;
    color: white;
}

.pagination a:first-child {
    margin-right: 10px;
}

.pagination a:last-child {
    margin-left: 10px;
}