<web-app>
  <display-name>EmployeeManagements</display-name>
    <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.create.LoginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>Hello1</servlet-name>
    <servlet-class>com.create.AdminLogin</servlet-class>
    </servlet>
    
    <servlet-mapping>
    <servlet-name>Hello1</servlet-name>
    <url-pattern>/adm</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.create.Employee</servlet-class>
    </servlet>
    
    <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Emp</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.create.AddEmployee</servlet-class>
    </servlet>
    
    <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    
</web-app>